html,
body {
  height: 100%;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.formElementFirst {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.formElementBetween {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.formElementLast {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.error-msg {
    color: red;
}

.form-control,
.form-select {
  border-color: black;
}

.form-control:focus,
.form-select:focus {
  border-color: pink; /*Rosa para identificar por el momento cuál es el que  hay que cambiar. */
  box-shadow: 0 0 0 0.25rem pink; /*Rosa para identificar por el momento cuál es el que  hay que cambiar. */
  outline: none;
}

.form-floating > .form-control:focus ~ label,
.form-floating > .form-select:focus ~ label {
  color: black;
}
