:root {
  --primary-color: #000000;
  --secondary-color: #FFFFFF;
  --tertiary-color: #A9A9A9;
}

body {
  background-color: var(--primary-color) !important;
  color: var(--secondary-color) !important;
  font-family: 'Roboto Condensed', sans-serif !important;
}

.text-justify {
    text-align: justify;
}

.mt-custom {
    margin-top: 4.5rem !important;
}

.logo-spacex-w path,
.logo-spacex-w polygon,
.logo-spacex-w rect {
  fill: var(--secondary-color);
}

.logo-spacex-b path,
.logo-spacex-b polygon,
.logo-spacex-b rect {
  fill: var(--primary-color);
}

.compact-text {
  margin: 0;
  padding: 0;
}

.btn-custom {
  background-color: var(--tertiary-color) !important;
  color: var(--primary-color) !important;
  transition: background-color 0.2s ease;
}

.btn-custom:hover {
  background-color: #909090 !important;
  color: var(--secondary-color) !important;
}